# Global vars
TZ=Europe/Zurich

# Global Paths
MEDIA_ROOT=
DATA_ROOT=
TORRENT_ROOT=

# Stack
PGID_MEDIA=

# PUID
PUID_BAZARR=
PUID_SONARR=
PUID_RADARR=
PUID_PROWLARR=
PUID_QBITTORRENT=
PUID_JELLYFIN=
