services:
  swag:
    image: lscr.io/linuxserver/swag:5.3.1
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
      - URL=copiiinux.ch
      - VALIDATION=http
      - SUBDOMAINS=cloud,jellyfin,seerr
      - SWAG_AUTORELOAD=true
    volumes:
      - ./swag:/config
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    restart: unless-stopped
