# Global vars
TZ=Europe/Zurich

# Stack
PGID_DATACENTER=

# Nextcloud
PUID_NEXTCLOUD=

# Postgres
POSTGRES_DB=nextcloud
POSTGRES_USER=
POSTGRES_PASSWORD=

# Backrest
BACKREST_USERDATA=
BACKREST_REPOS=
